.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #000000, #ff0000);
  padding: 20px 40px;
  height: 200px;
}

.header__logo {
  flex: 1;
}

.header__img {
  height: 180px;
  width: auto;
}

.header__nav {
  flex: 1;
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  height: 120px;
}

.header__nav::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../img/10578802.png");
  background-size: cover;
  background-position: center;
  opacity: 0.15;
  z-index: 0;
}

.header__nav__list {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin-top: 55px;
  margin-left: 31px;
  position: relative;
  z-index: 2;
}

.header__nav__link {
  text-decoration: none;
  color: #ff4d4d;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  transition: color 0.3s ease;
}

.header__nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: #ff4d4d;
  transition: width 0.3s ease;
}

.header__nav__link:hover {
  color: #ffffff;
}

.header__nav__link:hover::after {
  width: 100%;
}

.header__sign {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.header__button {
  position: relative;
  padding: 0.75rem 2.5rem;
  background: radial-gradient(circle at 30% 30%, #860101, #310404);
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  transition: transform 0.3s ease;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.5), inset 0 0 10px rgba(255, 0, 0, 0.3);
}

.header__button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../img/flame-Photoroom.png");
  background-size: cover;
  background-position: center;
  opacity: 0.15;
  z-index: 0;
}

.header__button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px rgba(255, 50, 50, 0.7), inset 0 0 14px rgba(255, 0, 0, 0.4);
}

.magic-glow {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.697), transparent 70%);
  animation: pulse 4s infinite;
  z-index: 0;
}


.hero {
  height: 400px;
  background-color: black;
  padding-top: 30px;
  padding-left: 50px;
}

.hero__product {
  width: 640px;
  float: left;
}

.hero h1 {
  font-size: 40px;
}

.hero h2 {
  font-size: 20px;
  margin-top: 30px;
  margin-left: 5px;
}

.hero__text {
  margin-left: 700px;
  margin-top: 100px;
  color: rgb(228, 8, 8);
}

.hero__button {
  margin-right: 10px;
  margin-top: 10px;
  position: relative;
  padding: 0.5rem 1.7rem;
  background: radial-gradient(circle at 30% 30%, #860101, #310404);
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 14px;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  transition: transform 0.3s ease;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.5), inset 0 0 10px rgba(255, 0, 0, 0.3);
}

.shop {
  background: black;
  padding-top: 60px;
  padding-bottom: 100px;
}

.container {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.shop__title {
  font-family: "Montserrat Alternates";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 27px;
  color: white;
}

.shop__list {
  display: flex;
  gap: 50px;
}

.shop__item {
  background: white;
  border-radius: 32px;
  border: 1px solid rgba(11, 8, 3, 0.15);
  padding: 32px;
  max-width: 310px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop__img {
  border: solid 1px black;
  width: 300px;
  height: 150px;
}

.shop__text {
  color: #0b0803;
  font-family: "Montserrat Alternates";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  width: 246px;
  text-align: center;
}

.shop__info {
  color: #0b0803;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-align: center;
}

.shop__button {
  border-radius: 25px;
  background: rgba(161, 40, 40, 0.9058823529);
  width: 100px;
  height: 40px;
  font-family: "Montserrat";
  font-size: 15px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.footer {
  background: linear-gradient(to right, #ff0000);
  background: black;
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url('./img/footer/18.webp');
  background-repeat: no-repeat;
  background-size: 50px;
  background-position: right bottom;
}


.container {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__list {
  width: 114px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: #ff4d4d;
  transition: width 0.3s ease;
}

.footer__link:hover {
  color: #FFF;
}

.footer__link {
  color: rgba(161, 40, 40, 0.9058823529);
  font-family: "Montserrat";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
  transition: color 0.3s ease;
}

.footer__wrapper {
  display: flex;
  margin-left: 100px;
  flex-direction: column;
  align-items: center;
}

.footer__logo {
  width: 300px;
  height: 150px;
}

.footer__text {
  color: rgba(161, 40, 40, 0.9058823529);
  font-family: "Spline Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 32px;
}

.footer__icons {
  display: flex;
  gap: 30px;
}

.footer__link__logo:hover {
  fill: #FFF;
}

.footer__link__logo {
  fill: rgba(161, 40, 40, 0.9058823529);
}

.icons {
  width: 30px;
  height: 30px;
}

.footer__subtitle {
  color: rgba(161, 40, 40, 0.9058823529);
  font-family: "Montserrat Alternates";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 27px;
}

.footer__info {
  color: rgba(161, 40, 40, 0.9058823529);
  font-family: "Montserrat";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 27px;
}

.footer__field {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.footer__input {
  color: rgba(161, 40, 40, 0.9058823529);
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: black;
  border-bottom: 1px rgba(161, 40, 40, 0.9058823529) solid;
}

.footer__button {
  color: #fff;
  border-radius: 25px;
  background: radial-gradient(circle at 30% 30%, #860101, #310404);
  width: 145px;
  height: 40px;
  font-family: "Montserrat";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  transition: transform 0.3s ease;
  box-shadow: 0 0 20px rgb(45, 36, 36), inset 0 0 10px rgba(255, 0, 0, 0.3);
}

.footer__button:hover {
  transform: scale(1.05);
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.4;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.2;
  }
  100% {
    transform: scale(1);
    opacity: 0.4;
  }
}/*# sourceMappingURL=main.css.map */