.footer { 
    background: radial-gradient(#ff0000, #000000 );
    padding-top: 60px;
    padding-bottom: 100px;
   
  }
  
  
  .container {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    
  }
  
  .footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .footer__list {
    /* width: 100px; */
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
.footer__item {
    display: flex;
    align-items: center;
    gap: 20px;

}
  /* .footer__item::after {
    content: "";
    height: 30px;
    width: 30px;
        background-size: 30px;
    background-repeat: no-repeat;
    background-position: right;

  }
.footer__item:hover:nth-child(2)::after {
    background-image: url("./img/m.webp");
    
} */
  .footer__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background-color: #ff4d4d;
    transition: width 0.3s ease;
  }
  
  .footer__link:hover {
    color: #FFF;
  }
  
  .footer__link {
    color: #180505;
    font-family: "Montserrat";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
    transition: color 0.3s ease;
  
  }
  
  .footer__wrapper {
    display: flex;
    margin-left: 100px;
    flex-direction: column;
    align-items: center;
   height: 200px;
  }
  
  .footer__logo {
    width: 300px;
    height: 150px;
  }
  
  .footer__text {
    color: #180505;
    font-family: "Spline Sans";
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 32px;
  }
  
  .footer__icons {
    display: flex;
    gap: 30px;
  }
 .footer__icon {

 }
  .footer__link__icon:hover {
    transform: scale(1.15);
    cursor: pointer;
    overflow: hidden;
  
  }
  
  .footer__link__icon {
    fill: #180505;
     transition: transform 0.3s ease;
     stroke: none;
     filter:
     drop-shadow(0px 0px 5px rgba(45, 36, 36, 0.692) )
     drop-shadow(0px 0px 5px  rgba(122, 34, 34, 0.548) );
     display: inline-block;

  }
  
  .icons {
    width: 30px;
    height: 30px;
  }
  
  .footer__subtitle {
    color: #180505;
    font-family: "Montserrat Alternates";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-bottom: 27px;
  }
  
  .footer__info {
    color: #180505;
    font-family: "Montserrat";
    font-size: 18px;
    font-style: bold;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 27px;
  }
  
  .footer__field {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }
  
  .footer__input {
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: rgb(172, 5, 5);
    border-bottom: 1px rgba(0, 0, 0, 0.906) solid;
    background: linear-gradient( to right, #990000, #940202 );
  }
  
  .footer__button {
    color: #fff;
    border-radius: 25px;
    background: radial-gradient(circle at 30% 30%, #860101, #310404);
    width: 145px;
    height: 40px;
    font-family: "Montserrat";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    transition: transform 0.3s ease;
    box-shadow: 0 0 20px rgb(45, 36, 36), inset 0 0 10px rgba(255, 0, 0, 0.3);
    margin-top: 10px;
  }
  
  .footer__button:hover {
    transform: scale(1.05);
  }