.footer {
    background: linear-gradient(to right, #ff0000);
    background: black;
    padding-top: 60px;
        padding-bottom: 60px;
}

.container {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
 
}

.footer__nav {}

.footer__list {
    width: 114px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__item {}

.footer__link::after {
    content: '';
        position: absolute;
        left: 0;
        bottom: -4px;
        width: 0%;
        height: 2px;
        background-color: #ff4d4d;
        transition: width 0.3s ease;
}
.footer__link:hover {
    color: #FFF;
}
.footer__link {
    color: #a12828e7;
    font-family: "Montserrat";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    position: relative;
        transition: color 0.3s ease; }

.footer__wrapper {
    display: flex;
    margin-left: 100px;
    flex-direction: column;
    align-items: center;

}

.footer__link__logo {}

.footer__logo {
    width: 300px;
    height: 150px;
}

.footer__text {
    color: #a12828e7;
    font-family: "Spline Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.footer__icons {
    display: flex;
    gap: 30px;
}

.footer__icon {}

.footer__link__logo:hover {
    fill: #FFF;
}

.footer__link__logo {
    fill: #a12828e7;
}

.icons {
    width: 30px;
    height: 30px;
}

.box {}

.footer__subtitle {
    color: #a12828e7;
    font-family: "Montserrat Alternates";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-bottom: 27px;
}

.footer__info {
    color: #a12828e7;
    font-family: "Montserrat";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 27px;
}

.footer__field {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

}

.footer__label {}

.footer__input {
    color: #a12828e7;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: black;
    border-bottom: 1px #a12828e7 solid;
}

.footer__button {
    color: #fff;
    border-radius: 25px;
    background: radial-gradient(circle at 30% 30%, #860101, #310404);
    width: 145px;
    height: 40px;
    font-family: "Montserrat";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
        overflow: hidden;
        z-index: 1;
        transition: transform 0.3s ease;
        box-shadow: 0 0 20px rgb(45, 36, 36), inset 0 0 10px rgba(255, 0, 0, 0.3);
}

.footer__button:hover {
    transform: scale(1.05);
      
   
         }