.footer {
    background: linear-gradient(to right, #ff0000);
    background: black;
    padding: 60px;
}

.container {
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__nav {}

.footer__list {
    width: 114px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer__item {}

.footer__link:hover {
    color: white;
}

.footer__link {
    color: #a12828e7;
    font-family: "Montserrat";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer__wrapper {
    display: flex;
    margin-left: 100px;
    flex-direction: column;
    align-items: center;

}

.footer__link__logo {}

.footer__logo {
    width: 300px;
    height: 150px;
}

.footer__text {
    color: #a12828e7;
    font-family: "Spline Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 32px;
}

.footer__icons {
    display: flex;
    gap: 30px;
}

.footer__icon {}

.footer__link__logo:hover {
    fill: #FFF;
}

.footer__link__logo {
    fill: #a12828e7;
}

.icons {
    width: 30px;
    height: 30px;
}

.box {}

.footer__subtitle {
    color: #a12828e7;
    font-family: "Montserrat Alternates";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-bottom: 27px;
}

.footer__info {
    color: #a12828e7;
    font-family: "Montserrat";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 27px;
}

.footer__field {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

}

.footer__label {}

.footer__input {
    color: #a12828e7;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: black;
    border-bottom: 1px #a12828e7 solid;
}

.footer__button {
    border-radius: 25px;
    background: #a12828e7;
    width: 145px;
    height: 40px;
    font-family: "Montserrat";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer__button:hover {
    border-radius: 25px;
    border: 1px solid #a12828e7;
    background: #FFF;
    color: #a12828e7;   }